body{
	margin:0;
	padding:10px;
	background-image: url('Images/Matrix2.gif');
	background-repeat:repeat;
	display: flex;
	justify-content: center;
	

}
div{
	border: 5px solid black;
}

header{
	border: 3px solid black;
	
}

footer{
	border: 3px solid black;
	
}
a:link{
	color: white;
	
}
a:visited {
	color: pink;
	
}
.class{order:2;
 align-content: flex-end;}

.class2 { display: flex; 
	flex-wrap: wrap;
	

}
.class1 {display: flex; flex-wrap: wrap;}

.container{
	font-family: 'Dela Gothic One', cursive;
	display: flex;
	flex-flow: column ;
	height: 100vh;
	color: white;
}
.header{
	
	background:black;
	
	font-family: 'Dela Gothic One', cursive;
	}

.content-body{
	display: flex;
	justify-content: center;
	
	
	

}
.content-body .content{
	
	overflow: auto;
	background: #022601;
	padding:150px;
	border: solid;
	border-color: black;
	border-width: 10px;

	
}

.content-body .nav{
	
	
	background: black ;

	padding:20px;
	order: -1;
}



.content-body .Leftpic{
	order: -1;
	width: 200px;
	padding:5px;
	
	
}

.content-body .Rightpic{
	align-items: right;
	order: -1;
	width: 200px;
	padding: 5px;
	
	
	
}


.footer{
	
	text-align: center;
	background: black;
	
}