body{
	margin:0;
	padding:10px;
	background-image: url('Images/Matrix2.gif');
	background-repeat:repeat;
	flex: 1 1 auto;

	

}
div{
	border: 5px solid black;
	flex: 0 0 auto;
}

header{
	border: 3px solid black;
	flex: 0 0 auto;
}

footer{
	border: 3px solid black;
	flex: 0 0 auto;
}
a:link{
	color: white;
	flex: 0 0 auto;
}
a:visited {
	color: pink;
	flex: 0 0 auto;
}

.container{
	font-family: 'Dela Gothic One', cursive;
	flex: 1 1 auto;
	flex-flow: column ;
	height: 100vh;
	color: white;
}
.header{
	flex: 1 1 auto;
	background:black;
	
	font-family: 'Dela Gothic One', cursive;
	}

.content-body{
	display: flex;
	
	
	

}
.content-body .content{
	flex: 0 1 auto;
	overflow: auto;
	background: #022601;
	padding:150px;
	border: solid;
	border-color: black;
	border-width: 10px;

	
}

.content-body .nav{
	flex:0 0  auto;
	overflow: auto;
	background: black ;

	padding:20px;
	order: -1;
}

.content-body .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.content-body .Leftpic{
	float: left;
	width: 200px;
	padding:5px;
	
	
}

.content-body .Rightpic{
	
	float: right;
	width: 200px;
	padding: 5px;
	
	
	
}


.footer{
	flex: 1 1 20px;
	text-align: center;
	background: black;
	
}